html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input, label {
    display: block;
}

html {
    overflow: hidden;
}

.k-link.k-nav-fast.k-state-hover {
    background-color: inherit;
}

.k-link.k-nav-fast {
    cursor: default;
}

label {
    text-align: left !important;
}

.checkboxSpacing {
    margin-bottom: 15px;
}

.checkbox {
    display: inline;
    margin-right: 5px;
}

#navigationPanel {
    overflow-y: hidden;
    background: transparent url("../img/swirl_pattern25.png") repeat scroll 0% 0%;
    position: relative;
    min-width: 940px;
}

#iframePanel {
    background: transparent url("../img/az_subtle.png") repeat scroll 0% 0%;
}

.creatorTag {
    position: absolute;
    right: 15px;
    bottom: 0;
    color: #707070;
}

.k-invalid-msg {
    display: block;
    margin-bottom: -17px;
    color: red;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.k-widget.k-tooltip {
    margin-top: 10px;
}

#iframePanelPlaceHolder {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 200px;
}


.k-icon {
    background-image: url(../img/sprite.png);
}

a.creditLink, p.creditAuthor {
    font-size: 24px;
}

p.creditAuthor {
    display: inline-block;
}

.k-widget.k-notification {
    position: relative;
    top: -37px;
    right: -200px;
}


fieldset {
    font-size: 1em;
    padding: 0.5em 0;
    border-radius: 1em;
    font-family: sans-serif;
}

    fieldset > label, fieldset > input {
        display: inline;
        font-size: inherit;
        padding: 0.2em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.hideOption {
    visibility: hidden;
}

.hideNewFeatureSVG {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.showNewFeatureSVG {
    visibility: visible;
    opacity: 0.75;
    transition: opacity 1s linear;
}

.hidden {
    opacity: 0;
}

#iframeHeader {
    height: 41px;
    width: 100%;
    background-color: #205081;
    z-index: 100;
    position: absolute;
    left: -16px;
}

.k-state-focused {
    border-color: black;
}
