@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot#iefix') format('embedded-opentype'), url('../font/fontello.woff') format('woff'), url('../font/fontello.ttf') format('truetype'), url('../font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 1em;
    speak: none;
}

.icon-collapse:after {
    content: "\e800";
}

.icon-expand:after {
    content: "\e801";
}

.icon-login:after {
    content: "\e802";
}

.icon-heart:after {
    content: "\e809";
    position: relative;
    top: 1px;
}

.icon-information:after {
    content: "\e806";
}

.icon-submit:after {
    content: "\e810";
    margin-right: 4px;
    position: relative;
    top: 1px;
}

.icon-smile:after {
    content: "\e811";
    margin-right: 6px;
}

.icon-frown:after {
    content: "\e812";
    margin-right: 6px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul.nav > li > a {
    text-decoration: none;
    color: rgb(128,128,128);
}

    ul.nav > li > a:hover {
        color: #DD6C4F;
    }

    ul.nav > li > a:focus {
        outline: none;
    }

.nav {
    list-style: none;
    text-align: left;
    padding-left: 9px;
}

    .nav li {
        position: relative;
        display: inline-block;
        margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    }

        .nav li:before {
            content: "";
            display: block;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #fff;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: -1;
        }

    .nav a {
        display: block;
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
        background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
        color: #a7a7a7;
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    }

        .nav a:before {
            content: "";
            display: block;
            background: #fff;
            border-top: 2px solid #ddd;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            box-shadow: inset 0px 8px 48px #ddd;
        }

        .nav a:hover {
            text-decoration: none;
            color: #555;
            background: #f5f5f5;
        }

    .nav > li > a {
        padding: 0;
        margin-right: 10px;
    }

nav#expandButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

    nav#expandButton > ul.nav {
        padding-top: 8px;
    }

    nav#expandButton > ul > li > a.icon-expand {
        margin-right: 0;
    }
