<!DOCTYPE html>
<html>
<head>
    <title>Worklog Page</title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/loaders.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/WorkLogController.js"></script>
</head>
<body ng-app="workLogApp" ng-controller="workLogController">

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <nav id="expandButton" ng-show="navigationPanelIsCollapsed">
        <ul kendo-tooltip k-options="expandButtonTooltipOptions" class="nav">
            <li><a href="#" title="Expand" ng-click="expandPanel()" class="icon-expand"></a></li>
        </ul>
    </nav>

    <div kendo-window="informationWindow" id="informationWindow" k-options="informationWindowOptions">
    </div>

    <div kendo-splitter="splitter" id="splitter" k-options="splitterOptions" style="height:100%; border:0;">
        <div id="navigationPanel" style="text-align:center;">
            <div kendo-window="loginPromptWindow" k-options="loginPromptWindowOptions"></div>
            <div kendo-tooltip k-options="initialsTooltipOptions" class="creatorTag"><h1>PT</h1></div>

            <div style="margin-left:50px; display:inline-block; position:relative; top:-90px;">
                <form kendo-validator="validator" k-options="validatorOptions">
                    <div style="margin-bottom:30px;">
                        <label for="user">Hello,</label>
                        <input class="k-textbox" name="username" id="username" type="text" ng-model="userName" placeholder="Insert JIRA username" />
                    </div>
                    <div class="checkboxSpacing">
                        <label for="comments">
                            <input type="checkbox" id="comments" name="comments" class="checkbox" ng-model="showComments" />
                            Show comments
                        </label>
                    </div>
                    <div class="checkboxSpacing">
                        <label for="weekends">
                            <input type="checkbox" id="weekends" name="weekends" class="checkbox" ng-model="showWeekends" />
                            Show weekends
                        </label>
                    </div>
                    <div class="checkboxSpacing">
                        <label for="subtasks">
                            <input type="checkbox" id="subtasks" name="subtasks" class="checkbox" ng-model="showSubtasks" />
                            Show subtasks
                        </label>
                    </div>
                    <div style="margin-top:15px; float:left;">
                        <button id="getWorkLogButton" class="k-button" ng-click="getWorkLog()"><span class="icon-submit"></span>Get Work Log</button>
                    </div>
                </form>
            </div>

            <div style="margin: 50px 0 0 50px; display:inline-block;">
                <div style="display:inline-block; margin: 0 30px 0 0;">
                    <label for="startDate">Start Date:</label>
                    <div kendo-calendar="startCalendar" id="calendar" k-options="calendarOptions" k-on-change="updateStartCalendar()"></div>
                </div>
                <div style="display:inline-block; margin-right:30px;">
                    <label for="endDate">End Date:</label>
                    <div kendo-calendar="endCalendar" id="calendar" k-options="calendarOptions" k-on-change="updateEndCalendar()"></div>
                </div>
            </div>

            <nav id="taskButtons">
                <ul kendo-tooltip k-options="taskButtonTooltipOptions" class="nav">
                    <li><a href="#" ng-click="collapsePanel()" id="Collapse" class="icon-collapse"></a></li>
                    <li><a href="https://paragontesting.atlassian.net/" target="_newtab" id="Atlassian_Login" class="icon-login"></a></li>
                    <li><a href="#" ng-click="likeWorkLogApp()" id="likeWorkLogAppButton" class="icon-heart"></a></li>
                    <li><a href="#" ng-click="openCloseInformationWindow()" id="Credits" class="icon-information"></a></li>
                </ul>
            </nav>

        </div>
        <div id="iframePanel">
            <div style="display:table; height:100%; width:100%;">
                <div id="iframePanelPlaceHolder">
                    <h4 id="inspirationalQuote"></h4>
                    <h6 id="inspirationalAuthor"></h6>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-template" id="loginPromptWindowTemplate">
        <div style="padding: 25px 25px;">
            <p>Please ensure that you are logged into JIRA before proceeding.</p>
            <p>Click <a href="https://paragontesting.atlassian.net/" target="_newtab">here</a> to verify or log in.</p>
        </div>
        <div>
            <button class="k-button" id="loginPromptWindowButton" ng-click="closeLoginPromptWindow()" style="float:right; margin: 25px 25px;">OK</button>
        </div>
    </script>

    <script type="text/x-kendo-template" id="informationWindowTemplate">
        <a href="https://ihatetomatoes.net/create-custom-preloading-screen/" target="_newtab" class="creditLink">Loader</a>
        <p class="creditAuthor">&nbsp;by Petr Tichy</p>
        <br />
        <a href="http://forismatic.com/en/api/" target="_newtab" class="creditLink">Quotes</a>
        <p class="creditAuthor">&nbsp;by Alexander Mikhailov</p>
        <br />
        <a href="https://css-tricks.com/circular-3d-buttons/" target="_newtab" class="creditLink">Nav Buttons</a>
        <p class="creditAuthor">&nbsp;by Anon Publisher</p>
        <br />
        <a href="http://subtlepatterns.com/" target="_newtab" class="creditLink" style="position:relative; top:-29px;">Backgrounds</a>
        <p class="creditAuthor" style="width:320px;">&nbsp;by Anli Zaimi, Uday Nandan, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vasudha Chandak</p>
    </script>

</body>
</html>