<!DOCTYPE html>
<html>
<head>
    <title>Worklog Page</title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/loaders.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body ng-app="workLogApp" ng-controller="workLogController">

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div kendo-splitter="splitter" id="splitter" k-options="splitterOptions" style="height:100%; border:0;">
        <div id="navigationPanel" style="text-align:center;">
            <div kendo-window="window" k-options="windowOptions"></div>
            <div kendo-tooltip k-options="tooltipOptions" class="creatorTag"><h1>PT</h1></div>

            <div style="margin-left:50px; display:inline-block; position:relative; top:-90px;">
                <form kendo-validator="validator" k-options="validatorOptions">
                    <div style="margin-bottom:30px;">
                        <label for="user">Hello,</label>
                        <input class="k-textbox" name="username" id="username" type="text" ng-model="userName" placeholder="Insert JIRA username" />
                    </div>
                    <div class="checkboxSpacing">
                        <label for="comments">
                            <input type="checkbox" id="comments" name="comments" class="checkbox" ng-model="showComments" />
                            Show comments
                        </label>
                    </div>
                    <div class="checkboxSpacing">
                        <label for="weekends">
                            <input type="checkbox" id="weekends" name="weekends" class="checkbox" ng-model="showWeekends" />
                            Show weekends
                        </label>
                    </div>
                    <div class="checkboxSpacing">
                        <label for="subtasks">
                            <input type="checkbox" id="subtasks" name="subtasks" class="checkbox" ng-model="showSubtasks" />
                            Show subtasks
                        </label>
                    </div>
                    <div style="margin-top:30px; float:right;">
                        <button class="k-button" ng-click="getWorkLog()"><span class="k-icon k-i-arrow-e" style="margin-top:-1px;"></span>Get Work Log</button>
                    </div>
                </form>
            </div>

            <div style="margin: 50px 0 0 50px; display:inline-block;">
                <div style="display:inline-block; margin: 0 30px 0 0;">
                    <label for="startDate">Start Date:</label>
                    <div kendo-calendar="startCalendar" id="calendar" k-options="calendarOptions" k-on-change="updateStartCalendar()"></div>
                </div>
                <div style="display:inline-block; margin-right:30px;">
                    <label for="endDate">End Date:</label>
                    <div kendo-calendar="endCalendar" id="calendar" k-options="calendarOptions" k-on-change="updateEndCalendar()"></div>
                </div>
            </div>

        </div>
        <div id="iframePanel">
            <div style="display:table; height:100%; width:100%;">
                <div id="iframePanelPlaceHolder">
                    <h4 id="inspirationalQuote"></h4>
                    <h6 id="inspirationalAuthor"></h6>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-template" id="modalTemplate">
        <div style="padding: 25px 25px;">
            <p>Please ensure that you are logged into JIRA before proceeding.</p>
            <p>Click <a href="https://paragontesting.atlassian.net/" target="_newtab">here</a> to verify or log in.</p>
        </div>
        <div>
            <button class="k-button" id="loginPromptWindowButton" ng-click="closeWindow()" style="float:right; margin: 25px 25px;">OK</button>
        </div>
    </script>

    <script>
        var workLogApp = angular.module("workLogApp", ["kendo.directives"]);

        workLogApp.controller("workLogController", ["$scope", "$http", function ($scope, $http) {

            $scope.getWorkLog = function () {
                if ($scope.validator.validate()) {
                    $('#username').blur();
                    $(".spinner").addClass("startLoading");
                    $("#iframePanelPlaceHolder").addClass("startLoading");

                    var startValue = kendo.toString($scope.startCalendar.value(), "d MMM yyyy");
                    var endValue = kendo.toString($scope.endCalendar.value(), "d MMM yyyy");

                    var startDay = startValue.split(" ")[0];
                    var startMonth = startValue.split(" ")[1];
                    var startYear = startValue.split(" ")[2];

                    var endDay = endValue.split(" ")[0];
                    var endMonth = endValue.split(" ")[1];
                    var endYear = endValue.split(" ")[2];

                    var contentUrl =
                        "https://paragontesting.atlassian.net/secure/ConfigureReport.jspa?" +
                        "startDate=" + startDay + "%2F" + startMonth + "%2F" + startYear +
                        "&endDate=" + endDay + "%2F" + endMonth + "%2F" + endYear +
                        "&reportKey=jira-timesheet-plugin%3Areport&targetUser=" + $scope.userName;

                    if ($scope.showComments)
                        contentUrl += "&showDetails=true";
                    if ($scope.showWeekends)
                        contentUrl += "&weekends=true";
                    if (!$scope.showSubtasks)
                        contentUrl += "&sumSubTasks=true";

                    $scope.splitter.ajaxRequest("#iframePanel", contentUrl);

                    setTimeout(function () {
                        $(".k-content-frame").on('load', function () {
                            $(".spinner").removeClass("startLoading");
                        });
                    }, 500);

                }
            };


            $scope.tooltipOptions = {
                content: "Made with KendoUI + AngularJS",
                position: "left"
            };

            $scope.splitterOptions = {
                orientation: "vertical",
                panes: [
                    { collapsible: true, min: "365px" },
                    { min: "390px" }
                ],
                resize: function () {
                    var startingBottomFrameHeight = 503;
                    var currentBottomFrameHeight = $("#iframePanel").height();
                    var bottomFrameHeightDifference = startingBottomFrameHeight - currentBottomFrameHeight;

                    var heightDiff = "-=" + (bottomFrameHeightDifference / 5).toString() + "px";

                    $(".spinner").css('bottom', '25%').css('bottom', heightDiff);
                }
            };

            $scope.test = function () {
                $(".spinner").addClass("startLoading");
            };

            $scope.windowOptions = {
                visible: false,
                resizable: false,
                height: 200,
                width: 500,
                modal: true,
                scrollable: false,
                draggable: false,
                content: {
                    template: $("#modalTemplate").html()
                },
                open: function () {
                    $(".k-widget.k-window").keypress(function (e) {
                        if (e.which == 13)
                            $scope.closeWindow();
                    });
                }
            };

            $scope.calendarOptions = {
                footer: "Today",
                value: new Date()
            };

            $scope.validatorOptions = {
                validateOnBlur: false,
                rules: {
                    empty: function (input) {
                        if (input.is("[name='username']"))
                            return $.trim(input.val()) !== "";
                        return true;
                    },
                    longLength: function (input) {
                        if (input.is("[name='username']"))
                            return $.trim(input.val()).length < 20;
                        return true;
                    }
                },
                messages: {
                    empty: "Input is empty. Try again.",
                    longLength: "Input is too long. Try again."
                },
                errorTemplate: "<span><small>#=message#</small></span>"
            };

            $scope.$on("kendoRendered", function (e) {
                $scope.updateStartCalendar();
                $scope.updateEndCalendar();

                var calendarHeaders = $(".k-link.k-nav-fast");
                calendarHeaders.unbind();
                calendarHeaders.click(function () {
                    return false;
                });

                $.getJSON("http://api.forismatic.com/api/1.0/?method=getQuote&lang=en&format=jsonp&jsonp=?", function (data) {
                    $("#inspirationalQuote").append(data.quoteText);
                    $("#inspirationalAuthor").append(data.quoteAuthor);

                    $('body').addClass('loaded');

                    setTimeout(function () {
                        $scope.window.center();
                        $scope.window.open();
                    }, 1000);
                });

            });

            $(document).on("click", ".k-overlay", function () {
                $scope.closeWindow();
            });

            $scope.updateStartCalendar = function () {
                var startDate = $scope.startCalendar.value();
                $scope.endCalendar.min(startDate);
            };

            $scope.updateEndCalendar = function () {
                var endDate = $scope.endCalendar.value();
                $scope.startCalendar.max(endDate);
            };

            $scope.closeWindow = function () {
                $scope.window.close();
                $("#username").focus();
            }

        }]);
    </script>

</body>
</html>